@import url("https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300;400;700&display=swap");

:root {
  --primary-color: #ca3d7c;
  --font-family: "Sulphur Point", sans-serif;
  --text-color: #1a1a1a;
  --bg-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: var(--font-family);
  background-color: var(--bg-color);
  color: var(--text-color);
  scroll-behavior: smooth;
}
